/* * {
    border: 1px solid black;
} */

.page-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        'header'
        'portfolio'
        'aboutme'
        'contact'
        'footer';
    row-gap: 2vh;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: header; 
}

nav ul li {
    display: inline;
    list-style: none;
}

main {
    grid-area: portfolio;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.project2, .project3, .project4, .project5 {
    width: 46%;
    padding: 1vh;
}

aside {
    grid-area: aboutme;
}

address {
    grid-area: contact;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
}



footer {
    grid-area: footer;
}



