* {
    border: 1px solid black;
}

.page-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        'header'
        'portfolio'
        'aboutme'
        'contact'
        'footer';
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: header;
}

nav ul li {
    display: inline;
    list-style: none;
}

main {
    grid-area: porfolio;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.project2, .project3, .project4, .project5 {
    width: 50%;
}

aside {
    grid-area: aboutme;
}

address {
    grid-area: contact;
}

footer {
    grid-area: footer;
}



