/* * {
    border: 1px solid black;
} */

.page-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        'header'
        'portfolio'
        'aboutme'
        'contact'
        'footer';
    row-gap: 2vh;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: header;
    padding: 1vh; 
}

nav {
    margin: 1vh;
}

nav ul li {
    display: inline;
    list-style: none;
}

main {
    grid-area: portfolio;
}

main h2 {
    margin-left: 1vw;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.featured-project {
    padding: 1vh;
}

.project2, .project3, .project4, .project5 {
    width: 46%;
    padding: 1vh;
}

aside {
    grid-area: aboutme;
}

aside h2 {
    margin-left: 1vw;
}

.about-me {
    padding: 1vh;
}

address {
    font-style: normal;
    grid-area: contact;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-wrapper > p {
    padding: 1vh;
}



footer {
    grid-area: footer;
}



